<ion-header>
    <ion-toolbar>
        <ion-button (click)="closeModal()" class="ion-margin-end" slot="end">
            <ion-label>{{ 'COMMON.CLOSE' | translate }}</ion-label>
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>

    <ion-title class="ion-text-center ion-margin-bottom">
        <ng-template [ngIf]="!order">
            {{ 'ORDER.PAGE.EMPTY' | translate }}
        </ng-template>

        <ng-template [ngIf]="order">
            <ion-chip color="primary">
                {{ order.status | orderStatus }}
            </ion-chip>
        </ng-template>
    </ion-title>
</ion-header>

<ion-content *ngIf="order">
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    {{ 'ORDER.PAGE.DELIVERY_DATE' | translate }}
                </ion-col>
                <ion-col>
                    {{ order.deliveryDateFrom | deliveryDate:order.deliveryDateTo }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    {{ 'ORDER.PAGE.TRACK' | translate }}
                </ion-col>
                <ion-col size="7">
                    {{ order.track }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    {{ 'ORDER.PAGE.CLIENT' | translate }}
                </ion-col>
                <ion-col size="7">
                    {{ order.recipient.name }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    {{ 'ORDER.PAGE.PHONE' | translate }}
                </ion-col>
                <ion-col size="7">
                    {{ order.phone | phone }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    {{ 'ORDER.PAGE.ADDRESS' | translate }}
                </ion-col>
                <ion-col size="7">
                    {{ order.recipient.address | address }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    {{ 'ORDER.PAGE.COST' | translate }}
                </ion-col>
                <ion-col size="7">
                    {{ order.cost }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-content>
