ion-content {
    --background: url('/assets/bg.jpg') no-repeat center center;
    --background-size: cover;
}

.login-card {
    margin-top: 40%;
    background-color: rgba(255, 255, 255, .9);

    &-title {
        font-size: 28px;
        font-weight: bold;
    }
}

.login-btn {
    margin-top: 20px;
}