<ion-header>
  <ion-toolbar>
    <ion-title><b>Заказы</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label>Статус</ion-label>
      <ion-select interface="action-sheet" (ionChange)="setStatus($event.detail.value)">
        <!-- <ion-select-option [value]="null" selected>Все</ion-select-option> -->
        <ion-select-option *ngFor="let item of statuses; let i = index;" [value]="item.status" [selected]="item.status == relatedStatus">{{ statusForCourier(item.status) }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-card class="welcome-card" 
              *ngFor="let order of orders; let i = index;" 
              [routerLink]="'order/' + order.id" 
              routerDirection="root">
      <ion-card-header>
        <ion-card-subtitle>{{ toDate(order.createdAt) }}</ion-card-subtitle>
        <ion-card-title class="title">{{ order.recipient.name }}</ion-card-title>
        <ion-card-title class="address">Адрес: {{ setAddress(order.recipient.address.postcode, order.recipient.address.street, order.recipient.address.home, order.recipient.address.flat, order.recipient.address.metro) }}</ion-card-title>
        <ion-card-title *ngIf="order.deliveryDateFrom" class="delivery-title">Дата доставки:</ion-card-title>
        <ion-card-title *ngIf="!order.deliveryDateFrom" class="no-delivery-date">Дата доставки неизвестна</ion-card-title>
        <div class="delivery" *ngIf="order.deliveryDateFrom">
          <ion-card-title class="date-text">с {{ toDate(order.deliveryDateFrom) }}&nbsp;</ion-card-title>
          <ion-card-title class="date-text">по {{ toDate(order.deliveryDateTo) }}</ion-card-title>
        </div>
        <ion-card-title class="phone">{{ order.recipient.phone }}</ion-card-title>
        <p>Кол-во попыток доставки: {{ order.deliveryAttemptsCount }} / {{ order.deliveryAttemptsLimit }}</p>
      </ion-card-header>
    </ion-card>

    <div *ngIf="!orders.length" class="no-orders">
      <ion-icon name="sad" class="no-orders-icon"></ion-icon>
      <p class="no-orders-text">Заказов нет</p>
    </div>
</ion-content>
