<ion-header>
  <ion-toolbar>
    <ion-title><b>Заказ</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="orderInfo">
      <p><b>Дата создания: </b>{{ toDate(orderInfo.createdAt) }}</p>
      <p><b>Трек-номер: </b>{{ orderInfo.track }}</p>
      <p><b>Статус: </b>{{ orderInfo.status }}</p>
      <p><b>Получатель: </b>{{ orderInfo.recipient.name }}</p>
      <p><b>Телефон: </b>{{ orderInfo.recipient.phone }}</p>
      <p><b>Адрес: </b>
        {{ orderInfo.recipient.address.country }},
        {{ orderInfo.recipient.address.region }},
        {{ orderInfo.recipient.address.postcode }},
        {{ orderInfo.recipient.address.city }},
        {{ orderInfo.recipient.address.street }},
        {{ orderInfo.recipient.address.home }}
      </p>
    </ion-card-content>
    <ion-card-content>
      <ion-button color="success">Доставлено</ion-button>
      <ion-button color="danger">Не доставлено</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
