.card-content-md p {
    font-size: 18px;
    color: #000;
}

.btn-delivery {
    height: 48px;
    margin-bottom: 10px;
    font-size: 16px;
}

.delivered-status {
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px !important;
    border-top: 2px solid #000;
}