// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

// * {
//     font-family: 'Montserrat Regular', sans-serif;
// }

// .title {
//     font-family: 'Montserrat Medium', sans-serif;
// }

.btns {
    font-size: 12px;
}

.inputs {
    --color: #000;
    font-size: 18px;
}

.ion-color-success {
    --ion-color-base: #47d299 !important;
}

.ion-color-danger {
    --ion-color-base: #d44f4f !important;
}

.alert-wrapper.sc-ion-alert-md {
    --max-width: 320px;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

.loader {
    top: 0;
    left: 0;
    z-index: 999;
}
