<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button color="success" slot="secondary" (click)="showBindingModal()">
                <ion-icon name="globe"></ion-icon>
                <ion-label>{{ 'COMMON.GEO_TITLE' | translate}}</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <app-order-header (onRefresh)="refreshHeader()"
                          (onStatusChanged)="fetchOrdersWithStatus($event)"
                          [ordersCount]="ordersCount"
                          [selectedStatus]="selectedStatus"
                          class="ion-text-center">
        </app-order-header>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-order-content (onRefresh)="refreshBody()"
                       [orders]="orders">
    </app-order-content>
</ion-content>
