<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="showBindingModal()"
                        color="success"
                        slot="secondary">
                <ion-icon name="globe"></ion-icon>
                <ion-label>{{ 'COMMON.GEO_TITLE' | translate}}</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <app-order-header (onStatusChanged)="statusChanged($event)"
                          [ordersCount]="ordersCount"
                          [selectedStatus]="selectedStatus"
                          class="ion-text-center">
        </app-order-header>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-order-content (onRefresh)="refreshBody()"
                       [orders]="orders">
    </app-order-content>
</ion-content>
