<ion-header class="ion-margin-top ion-text-center ion-no-border" no-border>
    <ion-toolbar class="ion-no-margin ion-no-padding">
        <app-location></app-location>
    </ion-toolbar>
    <ion-toolbar>
        <ion-title>{{ 'COMMON.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="loginForm">

        <ion-item class="ion-margin">
            <ion-input
                    type="text"
                    placeholder="{{ 'LOGIN_FORM.LOGIN' | translate }}"
                    formControlName="login">
            </ion-input>
        </ion-item>

        <ion-item class="ion-margin">
            <ion-input
                    type="password"
                    placeholder="{{ 'LOGIN_FORM.PASSWORD' | translate }}"
                    formControlName="password">
            </ion-input>
        </ion-item>

        <ion-button
                class="ion-margin"
                expand="block"
                (click)="submit()">
            {{ 'LOGIN_FORM.SIGN_IN_BUTTON' | translate }}
        </ion-button>
    </form>
</ion-content>

