<ion-refresher #refresher (ionRefresh)="emitRefresh(refresher)" slot="fixed"></ion-refresher>

<ion-card *ngFor="let order of orders" class="ion-margin-vertical">
    <ion-card-content>
        <ion-item>
            <ion-icon name="list-box" color="tertiary"></ion-icon>
            <span class="order-track">{{ order.track }}</span>

            <ion-checkbox
                    (click)="toggleSelected(order.id)"
                    [value]="isSelected(order.id)"
                    color="tertiary" slot="end">
            </ion-checkbox>
        </ion-item>

        <ion-toolbar>
            <ion-text>
                {{ 'ORDER.CONTENT.TITLE_ADDRESS' | translate }} {{ order.recipient.address | address }}
            </ion-text>
        </ion-toolbar>

        <ion-toolbar>
            <ion-label>
                {{ 'ORDER.CONTENT.DELIVERY_DATE.TITLE' | translate }} {{ order.deliveryDateTo | deliveryDate: order.deliveryDateTo }}
            </ion-label>
        </ion-toolbar>

        <ion-toolbar>
            <ion-chip color="primary" slot="start">
                <ion-icon name="call"></ion-icon>
                <ion-label><a [href]="'tel:' + order.phone">{{ order.phone }}</a></ion-label>
            </ion-chip>

            <ion-chip slot="end" color="tertiary" (click)="openOrderPage(order)">
                <ion-icon name="walk"></ion-icon>
                <ion-label>{{ 'ORDER.CONTENT.DETAIL_BUTTON' | translate }}</ion-label>
            </ion-chip>
        </ion-toolbar>

    </ion-card-content>
</ion-card>
