<ion-refresher #refresher (ionRefresh)="emitRefresh(refresher)"></ion-refresher>

<ion-title color="primary">
    {{ 'ORDER.HEADER.STATUS_TITLE' | translate }}
</ion-title>
<ion-select
        interface="action-sheet"
        *ngIf="ordersCount.length"
        [formControl]="statusControl">

    <ion-select-option
            *ngFor="let pair of ordersCount"
            [value]="pair.status">
        {{ pair.status | orderStatus }} {{ pair.count }}
    </ion-select-option>

</ion-select>

<ion-toolbar class="ion-text-center" *ngIf="!ordersCount.length">
    <ion-label>{{ 'ORDER.HEADER.NO_STATUSES' | translate }}</ion-label>
</ion-toolbar>
