.user-info {
    display: flex;
    align-items: center;
    padding: 20px;

    &-text {
        h3, p {
            margin: 0;
        }
    }

    ion-avatar {
        margin-right: 20px;
    }
}

.list-icon {
    margin-right: 20px;
}

ion-list .logoout {
    --background: #d44f4f !important;
}